<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sumy.dooraccesscontrolsystem"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name="com.sumy.dooraccesscontrolsystem.activity.ActivitySplash" >
        </activity>
        <activity android:name="MainActivity" >
        </activity>
        <activity android:name=".activity.MainMenuActivity" >
        </activity>
        <activity android:name=".activity.AdminActivity" >
        </activity>
        <activity
            android:name=".activity.WelcomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.InputEmployeeActivity" >
        </activity>
        <activity android:name=".activity.EmployeeActivity" >
        </activity>
        <activity android:name=".activity.ShowCheckInActivity" >
        </activity>
        <activity android:name=".activity.InputManagerActivity" >
        </activity>
        <activity android:name=".activity.ManagerCheckInActivity"></activity>
    </application>

</manifest>